.item__Container {
  width: 90%;
  margin: auto;
  min-height: 100vh;
}

.item__Details {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.item__Img {
  width: 50rem;
  height: 50rem;
}

.item__Description {
  padding-top: 2rem;
  width: 100%;
}

.item__Description div {
  padding: 1rem;
}

.item__Description div h2 {
  font-size: 3rem;
  font-weight: 500;
}

.item__Rating {
  background-color: #138834;
  font-size: 1.3rem;
  padding: 0.2rem 1.5rem;
  color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding-bottom: 0.5rem;
}

.item__Price span:first-child {
  font-size: 3rem;
  font-weight: 800;
}

.item__Price span:last-child {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: 500;
  padding: 0 0.5rem;
}

.item__Button button {
  background-color: #e41c1c;
  color: #ffffff;
  padding: 1rem 2.5rem;
  font-size: 2.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.452);
}

.item__Reviews {
  margin-top: 2rem;
  padding: 0.5rem;
}

.item__Reviews h3 {
  font-size: 3rem;
}

.review__Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0;
}

.review__Container span {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 0.5rem;
}

.review__Content {
  font-size: 1.5rem;
  padding-left: 1rem;
  font-weight: 550;
  width: 80%;
}

.your__Comment {
  border: 2px solid #427db491;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.your__Comment h2 {
  font-size: 2rem;
}

.cmt__Buttons {
  display: flex;
  align-items: center;
}

.cmt__Buttons p {
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.cmt__Buttons p:first-child {
  color: rgba(59, 59, 231, 0.692);
}

.cmt__Buttons p:last-child {
  color: rgba(238, 65, 65, 0.63);
}

.update__Input {
  font-size: 2rem;
  padding: 1rem;
  outline: none;
  width: 80%;
}
