@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 800px) {
  * {
    font-size: 8px;
  }
}

@media screen and (max-width: 420px) {
  * {
    font-size: 6px;
  }
}
