.card__Container {
  width: 30rem;
  box-sizing: border-box;
  box-shadow: 0 0rem 1.5rem rgba(65, 64, 64, 0.658);
}

.product__Bgd {
  width: 25rem;
  height: 15rem;
  cursor: pointer;
}

.product__Img {
  border-bottom: 2px solid black;
  padding: 1.5rem;
}

.product__Details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* justify-content: flex-start; */
}

.product__Details h3 {
  font-size: 1.5rem;
  white-space: nowrap;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.product__Details detail {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  align-items: center;
}

.product__Details detail button {
  background-color: #e41c1c;
  color: #ffffff;
  padding: 0.8rem 2.5rem;
  border-radius: 1.8rem;
  border: none;
  font-size: 1.5rem;
  box-shadow: 0 0.2rem 0.4rem rgba(65, 64, 64, 0.658);
  cursor: pointer;
}
.rating {
  background-color: #138834;
  font-size: 1.3rem;
  padding: 0.2rem 1.5rem;
  color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding-bottom: 0.5rem;
}

.priceTag span:first-child {
  font-size: large;
  padding: 0 0.5rem;
}

.priceTag span:last-child {
  text-decoration: line-through;
  font-size: small;
  color: #00000099;
}
